body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
    line-height: 1.6;
}

header {
    background: #1e293b;
    padding: 40px;
    text-align: center;
}

h1 {
    color: #38bdf8;
    margin: 0;
}

h2 {
    color: #22d3ee;
    border-bottom: 2px solid #22d3ee;
    padding-bottom: 5px;
}

section {
    padding: 40px;
}

ul {
    list-style-type: square;
}

.project {
    margin-bottom: 20px;
}

footer {
    background: #1e293b;
    text-align: center;
    padding: 20px;
}
